/* FONTS */
@font-face{	font-family:roboto_regular; src:url(../_fonts/Roboto-Regular.eot); src:url(../_fonts/Roboto-Regular.eot?#iefix) format('embedded-opentype'),url(../_fonts/Roboto-Regular.woff) format('woff'),url(../_fonts/Roboto-Regular.svg#open_sansbold) format('svg');}
@font-face{	font-family:roboto_bold; src:url(../_fonts/Roboto-Bold.eot); src:url(../_fonts/Roboto-Bold.eot?#iefix) format('embedded-opentype'),url(../_fonts/Roboto-Bold.woff) format('woff'),url(../_fonts/Roboto-Bold.svg#open_sansbold) format('svg');}
@font-face{	font-family:roboto_light; src:url(../_fonts/Roboto-Light.eot); src:url(../_fonts/Roboto-Light.eot?#iefix) format('embedded-opentype'),url(../_fonts/Roboto-Light.woff) format('woff'),url(../_fonts/Roboto-Light.svg#open_sansbold) format('svg');}

*{ margin: 0; border: 0; padding: 0; font-family: roboto_regular; color: #000; text-rendering: optimizeLegibility !important; outline: none; }

html, body{	background: #fff; color: #666; font-size: 100%; height:100%; width:100%; }

/***HOME***/
body.home{ background: url('../_img/bg-full.jpg') no-repeat center; background-size: auto 100%;}

	header.home{ width: 78.666667%; height: auto; margin: 0 auto; position: relative; top: 12.5%; }
		header.home .logo-splash{ width: 100%; height: auto; }
	nav.home{ width: 83.20%; margin:0 auto; position: relative; top: 20%; }
		nav.home h1{ font-family: roboto_light; margin:0 auto; text-transform: uppercase; font-size: 1.875em; background-color: #c6c6c6; width: 13.6em; text-align: center; margin-bottom: 2.8% }
		nav.home a{ width: 30.44%; margin-right: 4.34%; display: inline-block; float: left;}
		nav.home a.last{margin-right: 0;}
			nav.home a img{ width: 100%;}
	footer{	font-size:1.250em; color: #d80042; width: 100%; position: absolute; bottom:0; height: 3.125em; text-align: center;}
	footer sup{ color: #d80042;}

/** UI Slider **/
.rangeslider {
  display: inline-block;
  width: 70%;
}

.output {
  display: inline-block;
  font-size: 1.8em;
  line-height: 1;
  padding-left: 10px;
  display: none;
}

/* NíKOLAS */
.interna { z-index: 5;}
nav { top: 9%; background-color: rgba(0, 0, 0, 0.8); height: 100%; z-index: 6; border-bottom-color: #d3d3d3; border-bottom-width: 1em; display: none; }
nav ul.menu li { color: #fff; padding: 1em; font-weight: bolder; }
nav ul.menu li:hover { background-color: rgba(0, 0, 0, .2); }

/***GERAL***/
body{ height: 100%; background-color: #fff; }

	header.interna{width: 100%; height: 10.79%; overflow: hidden; background: url('../_img/header-bg.png') no-repeat center; background-size: auto 100%; position: absolute; display: block; z-index: 120;}
		header.interna a.menu-ico{ position: absolute; width: 100%; height: 100%; left: 1em; top: 27%;}
			header.interna a.menu-ico img{ width: auto; height: 30%; }
		header.interna img.logo-splash{ width: auto; height: 90%; display: block; position: relative; margin: 0 auto; top: 5%; }
		header.interna img.logo-splash:hover{ cursor: pointer; }
	
	nav{ width: 100%; position: absolute; top:0; left: 0; }
	
	#mapa{ background: url("../_img/_mapa-fake.jpg") no-repeat; background-size: auto 100%; width: 100%; height: 100%; display: table; }
		#mapa .holder{ display: table-cell; vertical-align: middle; width: 100%; }
			#pin{ width: 6.9%; display: block; margin: 0 auto; position: relative;}
			#raio_d{ width: 100%; height: 100%; background: url('../_img/raio.svg') center no-repeat; background-size: 30%; opacity: 0.5; position: absolute; top:0;}
	
	article{ top: 18%; width: 100%; position: relative; width: 91.6%; margin: 0 auto;}
		
	footer.interna{ position: absolute; bottom:0; height: 13.3%; background-color: #d80042; display: table; }
		footer.interna .holder{ height: 100%; width: 100%; display: table-cell; vertical-align: middle;}
			footer.interna .holder p{color: #fff;}
			footer.interna .holder p strong{color: #fff; font-family: roboto_bold;}
			#ipt_endereco{ width: 83%; height: 50.56%; border-radius: 0.6em; font-size: 1em; font-family: roboto_light; text-transform: uppercase; padding: 0.8em;}
			#btn_ok{ border-radius: 0.6em; font-size: 1em; font-family: roboto_bold; color: #fff; background-color: #d80042; position: absolute; float: right; right: 5%; height: 45.56%; width: 9.56%; margin-top: .5%; }
			#btn_search{ background: url('../_img/btn_search.svg') center no-repeat; background-size: 100%; position: absolute; float: right; right: 17%; height: 45.56%; width: 9.56%; margin-top: .5%; }
			output{color: #fff; font-family: roboto_bold;}
			
			/* Profiles */
			#profile #avatar{ width: 26.13%; margin-right: 5.884%; display: block; float: left; }
			#profile #avatar-pro{ width: 26%; margin-right: 5.884%; display: block; float: left; }
			#profile #dados{ display: block; float: left; width: 67.98%; }
				#profile h1{ font-size: 1.384em; font-family: roboto_regular; }
				#profile p{ font-size: 0.8em; }
				#profile div.rank{ margin-top: 16px; }
				#profile div.rank-pro{ margin-top: 5px; }
					#profile div.rank div.star, #profile div.rank-pro div.star{ width: 1.6em; background: url('../_img/star.png') no-repeat bottom; float: left; height: 1.5em; margin-right: 0.2em; display: block; background-size: 100%;}
					#profile div.rank div.positiva{ background-position: top;}
			#profile #comodidades, #profile #galeria, #profile #servicos, #profile #meus-servicos{ display: block; float: left; width: 100%; margin-top: 1em; }
				#profile #comodidades img, #profile #galeria img{ width: 100%; }
				#profile #servicos img{ width: 51%; }
				#profile #meus-servicos img{ width: 100%; }
				#btn_associar{ width: 56.26%; margin: 0 auto; display: block; }
					#btn_associar img{ width: 100%; margin-top: 1em;}
				#btn_abriragenda{ width: 68%; display: block; margin: 0 auto; }
					#btn_abriragenda img{ width: 100%; margin-top: 1em;}
				#btn_credenciar{ width: 37.6%; display: block; margin: 0 auto; }
					#btn_credenciar img{ width: 100%; margin-top: 1em;}
			
			#profissionais{ float: left; width: 100%; margin-top: 20px; }
				#profissionais li{ float: left; width: 100%; padding-bottom: 10px; border-bottom: 1px solid #c6c6c6; list-style: none; }
					#profissionais li img.avatar-pro{ display: inline-block; vertical-align: middle; margin-right: 3px;}
					
			#aprroval{ position: relative; float: right; margin-top: 7px;}